#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  will-change: filter;
  transition: filter 300ms;
}
.title:hover {
  filter: drop-shadow(0 0 2em #ff6464aa);
}
.score {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.score h2 {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #068896;
  transition: border-color 0.25s;
}
.card-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 25% 25%;
}

main {
  overflow: auto;
  row-gap: 40px;
  padding: 10px 0px;

  --grid-layout-gap: 10px;
  --grid-column-count: 5;
  --grid-item--min-width: 200px;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}

footer {
  margin-top: 20px;
}
